services:
  api:
    container_name: api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${APP_PORT:-8000}:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    restart: unless-stopped

  db:
    container_name: db
    image: postgres:18
    ports:
      - "${DB_EXPOSE_PORT:-5432}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-mydatabase}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-user} -d ${POSTGRES_DB:-mydatabase}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  rabbitmq: 
      container_name: rabbitmq
      image: rabbitmq:3-management
      ports:
        - "1883:1883" 
        - "5672:5672"
        - "15672:15672"
      environment:
        RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER:-user}
        RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS:-password}
      user: root
      volumes:
        - ./rabbitmq_conf/rabbitmq.conf:/opt/rabbitmq/rabbitmq.conf
        - ./rabbitmq_conf/enabled_plugins:/etc/rabbitmq/enabled_plugins
        - rabbitmq_data:/var/lib/rabbitmq
      restart: unless-stopped

volumes:
  postgres_data:
  rabbitmq_data:
